# NETFLIX로 알아보는 문화 트렌드
---
0. [NETFILX 소개](#0-netfilx-소개)

1. [데이터 수집](#1-데이터-수집)
    - Netflix_Data
    - Netflix_Original Data
    - Rating_Data
    - Netflix_Data + Netflix_Original Data + Rating_Data
2. [데이터 전처리](#2-데이터-전처리)
    - 결측치 수정 및 제거
    - Feature engineering
3. [데이터 EDA](#`)
    - Netflix의 성장과정
    - 
    
4. 결론

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings 
import folium

print(folium.__version__)
plt.style.use('ggplot')
%config InlineBackend.figure_format = 'retina'
warnings.filterwarnings(action='ignore')

0.12.1.post1

## 0. NETFILX 소개

# NETFILX <img align = "right" src ='https://itep.sfo2.digitaloceanspaces.com/Netflix-blog-cover.jpg'>
설립 : 1997. 8. 29.  
주요사업 : OTT(Over-The-Top media service)  
시가총액 : 1592억$  
창업자 : Wilmot Reed Hastings, Jr.

## 1. 데이터 수집
---

### Netflix_Data
</br>
__✅COLUMNS__
</br>

| SHOW_ID | 영화나 티비쇼의 고유번호  |
| --- | --- |
| TYPE | 영화인지 티비쇼인지 구별 |
| TITLE | 영화, 티비쇼의 제목 |
| DIRECTOR | 영화감독 |
| CAST | 영화, 쇼에 출연한 배우들 |
| COUNTRY | 영화나 쇼가 제작된 나라 |
| DATE_ADDED | 넷플릭스에 드라마나 영화가 방영된 날짜. 2008.01 ~ 2021.09.25 |
| RELEASE_YEAR | 실제 드라마나 영화가 방영된 연도. 1925 ~ 2021 |
| RATING | 영화/쇼의 시청 등급 |
| DURATION | 방영기간 |
| LISTED_IN | 장르 |
| DESCRIPTION | 줄거리 |

In [3]:
path = '../data'
Net_df = pd.read_csv(path+"/fixed_netflix_df.csv")
Net_df.head()

,show_id,type,director,title,cast,country,date_added,description,duration,listed_in,rating,release_year
0,s1,Movie,Kirsten Johnson,Dick Johnson Is Dead,"Michael Hilow, Dick Johnson, Chad Knorr, Vasth...",United States,"September 25, 2021","As her father nears the end of his life, filmm...",90 min,Documentaries,PG-13,2020
1,s2,TV Show,Nosipho Dumisa,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021","After crossing paths at a party, a Cape Town t...",2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",TV-MA,2021
2,s3,TV Show,Julien Leclercq,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",France,"September 24, 2021",To protect his family from a powerful drug lor...,1 Season,"Crime TV Shows, International TV Shows, TV Act...",TV-MA,2021
3,s4,TV Show,Jacquelyn C. Migdal,Jailbirds New Orleans,NONE,United States,"September 24, 2021","Feuds, flirtations and toilet talk go down amo...",1 Season,"Docuseries, Reality TV",TV-MA,2021
4,s5,TV Show,Raghav Subbu,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",In a city of coaching centers known to train I...,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",TV-MA,2021

### Netflix_Original Data
</br>  
__✅ COLUMNS__  
</br>  

| TITEL | 영화, 티비쇼의 제목  |
| --- | --- |
| GENRE | 영화, 티비쇼의 장르 |
| PREMIERE | 드라마나 영화가 방영된 날짜 |
| RUNTIME | 방영기간 |
| IMDB SCORE | IMDB에서의 평점 |
| LANGUAGE | 제작언어 |

In [7]:
OG_df = pd.read_csv(path+"/NetflixOriginals.csv", encoding="ISO-8859-1")
OG_df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [8]:
# 넷플릭스 Original 인지 여부만 따지기 위해 Title만 사용
OG_df = OG_df["Title"].tolist()

### Rating_Data
</br>  
__✅ COLUMNS__  
</br>  

| TITEL | 영화, 티비쇼의 제목  |
| --- | --- |
| AVG | 영화, 티비쇼의 평균 평점 |
| TOTAL | 총 평점 합 |
| ALL ~| 평점을 매긴 전체 시청자수(연령별) |
| MALES ~  | 평점을 매긴 남성 시청자수(연령별) |
| FEMAELS ~ | 평점을 매긴 여성 시청자수(연령별) |
| ALL_RANK ~| 전체 시청자수(연령별)의 평점 |
| MAELS_RANK ~ | 남성 시청자수(연령별)의 평점 |
| FEMAELS_RANK ~ | 여성 시청자수(연령별)의 평점 |

In [10]:
Rating_df = pd.read_csv("../data/Netflix_Rating.csv")
Rating_df.head()

,Title,Avg,Total,Total_males,Total_Females,All_below_18,All_18_29,All_30_44,All_over_45,Males_below_18,...,Males_rank_below_18,Males_rank_18_29,Males_rank_30_44,Males_rank_over_45,Females_rank_below_18,Females_rank_18_29,Females_rank_30_44,Females_rank_over_45,Avg_rank_males,Avg_rank_Females
0,Dick Johnson Is Dead,7.4,6241.0,3780.0,592.0,12.0,1050.0,2321.0,817.0,10.0,...,7.9,7.7,7.4,7.1,8.0,7.8,7.4,7.3,7.4,7.5
1,Blood & Water,6.7,2952.0,603.0,867.0,10.0,416.0,644.0,281.0,4.0,...,5.5,6.6,5.9,4.9,5.0,6.9,7.0,7.0,5.9,7.0
2,Ganglands,7.0,2349.0,1297.0,117.0,1.0,99.0,574.0,648.0,1.0,...,6.0,6.9,6.8,7.0,0.0,5.8,6.9,7.0,6.9,7.0
3,Jailbirds New Orleans,6.7,194.0,57.0,60.0,0.0,19.0,63.0,30.0,0.0,...,0.0,6.4,6.3,6.6,0.0,6.2,6.9,6.9,6.5,6.9
4,Kota Factory,9.3,66527.0,19278.0,984.0,144.0,10004.0,5687.0,340.0,134.0,...,9.6,9.2,8.5,6.4,4.3,9.2,7.5,5.7,9.0,8.5

### Netflix_Data + Netflix_Original Data +  Rating_Data

In [11]:
# Netflix_Data + Netflix_Original Data
og = []
for name in Net_df.title.values:
    if name in OG_df:
        og.append(1)
    else:
        og.append(0)

Net_df["Original"] = og
Net_df["Original"].value_counts()

0    8301
1     506
Name: Original, dtype: int64

In [12]:
# Netfilx_Data +  Raing_Data
df = pd.merge(Net_df, Rating_df, left_on= "title", right_on= "Title")
df.head()

,show_id,type,director,title,cast,country,date_added,description,duration,listed_in,...,Males_rank_below_18,Males_rank_18_29,Males_rank_30_44,Males_rank_over_45,Females_rank_below_18,Females_rank_18_29,Females_rank_30_44,Females_rank_over_45,Avg_rank_males,Avg_rank_Females
0,s1,Movie,Kirsten Johnson,Dick Johnson Is Dead,"Michael Hilow, Dick Johnson, Chad Knorr, Vasth...",United States,"September 25, 2021","As her father nears the end of his life, filmm...",90 min,Documentaries,...,7.9,7.7,7.4,7.1,8.0,7.8,7.4,7.3,7.4,7.5
1,s2,TV Show,Nosipho Dumisa,Blood & Water,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021","After crossing paths at a party, a Cape Town t...",2 Seasons,"International TV Shows, TV Dramas, TV Mysteries",...,5.5,6.6,5.9,4.9,5.0,6.9,7.0,7.0,5.9,7.0
2,s3,TV Show,Julien Leclercq,Ganglands,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",France,"September 24, 2021",To protect his family from a powerful drug lor...,1 Season,"Crime TV Shows, International TV Shows, TV Act...",...,6.0,6.9,6.8,7.0,0.0,5.8,6.9,7.0,6.9,7.0
3,s4,TV Show,Jacquelyn C. Migdal,Jailbirds New Orleans,NONE,United States,"September 24, 2021","Feuds, flirtations and toilet talk go down amo...",1 Season,"Docuseries, Reality TV",...,0.0,6.4,6.3,6.6,0.0,6.2,6.9,6.9,6.5,6.9
4,s5,TV Show,Raghav Subbu,Kota Factory,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",In a city of coaching centers known to train I...,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",...,9.6,9.2,8.5,6.4,4.3,9.2,7.5,5.7,9.0,8.5

## 2. 데이터 전처리

- 입력오류 확인 및 처리
- 결측치 수정 및 제거
    - 결측치 확인 및 크롤링으로 추가
    - 확인되지 않는 행 제거
    - 사용하지 않는 컬럼 제거
- Feature engineering
    - 영화 관람 등급, 티비 관람 등급
    - score(평점, 리뷰 수)...

### 입력오류 확인 및 처리

In [ ]:
# 각 칼럼별 unique값을 확인해 보기
col = df.columns()
uni_list = [{col[i]:df[col[i]].unique()} for i in range(len(col))]
for i in range(len(col)):
    print(uni_list[i])

In [15]:
# rating 칼럼에서 발생한 입력오류 처리
index = df[df['rating'] == '66 min'].index 
df.loc[index,'duration'] = df.loc[index,'rating']
df.loc[index,'rating'] = np.nan

index = df[df['rating'] == '74 min'].index
df.loc[index,'duration'] = df.loc[index,'rating']
df.loc[index,'rating'] = np.nan

index = df[df['rating'] == '84 min'].index
df.loc[index,'duration'] = df.loc[index,'rating']
df.loc[index,'rating'] = np.nan

df['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', nan, 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

### 결측치 수정 및 제거

[Netflix raw 데이터에서 director, cast, country 칼럼의 결측값 채우기 - Crawling]('https://github.com/DONGYEONKANG/Datathon/blob/main/dongyeon/Missing_data_crawler.ipynb')

|First Image|Second Image|
|:-:|:-:|
|<img src = '../data/crawling.png' width ="300" height = "220">|<img src = '../data/crawling2.png' width ="300" height = "220">|
|First Image|Second Image|
|<img src = '../data/crawling3.png' width ="300" height = "220">|<img src = '../data/crawling4.png' width ="300" height = "220">|

[Netflix 평점 데이터 추가하기 - Crawling](https://github.com/DONGYEONKANG/Datathon/blob/main/dongyeon/Rating_data_crawler.ipynb)

|First Image|Second Image|Third Image|
|:-:|:-:|:-:|
|<img src = '../data/crawling2-1.png' width ="300" height = "220">|<img src = '../data/crawling2-2.png' width ="300" height = "220">|<img src = '../data/crawling2-3.png' width ="300" height = "220">|

In [ ]:
# NOT FOUND 제거
df.drop(df[df["Title_ID"] == "NOT FOUND"].index, inplace=True)
df = df.reset_index(drop=True)

In [ ]:
#NO RATINGS
df.drop(df[df["Avg"] == 0].index, inplace=True)
df.reset_index(drop=True)

In [ ]:
# 없는 rating data 제거 , 8807 - 202 - 10(중복있을듯 아마...) = 8598 
df.drop(df[df["rating"].isnull()].index, inplace=True)
df = df.reset_index(drop=True)

In [ ]:
# 사용하지 않는 컬럼 제거
# show_id
# desciptions
# Title_ID

df.drop(["show_id", "Title_ID"], axis = 1, inplace=True)
df.head()

In [ ]:
# 최종 데이터
df.info()

### Feature engineering

type columns
- 영화: 0
- 티비쇼: 1

In [ ]:
def type_col(col):
    if col == 'Movie':
        return 0
    else:
        return 1

In [ ]:
df['type'] = df["type"].apply(type_col)
df.head()

rating col
- 전체관람가('G', 'PG', 'TV-Y', 'TV-7', 'TV-Y7-FV', 'TV-G'): 0
- 12,15세 관람가('PG-13', 'TV-PG', 'TV-14'): 1
- 15, 청불('R', 'NC-17', 'NR', 'UR', 'TV-MA'): 2

In [ ]:
def rating_col(col):
    if col in ['G', 'PG', 'TV-Y','TV-Y7', 'TV-Y7-FV', 'TV-G']:
        return 0
    elif col in ['PG-13', 'TV-PG', 'TV-14']:
        return 1
    elif col in ['R', 'NC-17', 'NR', 'UR', 'TV-MA']:
        return 2
    else:
        return col

In [ ]:
df['rating'] = df["rating"].apply(rating_col)
df['rating']

### Score : 평점 * 리뷰 수

In [ ]:
df["Score"] = df["Avg"] * df["Total"] 
df["Score_normal"] = (df["Score"] - df["Score"].mean())/df["Score"].std() + 1 #정규화

### 동연
- folium 사용해서 Country 시각화 조져보기!

In [ ]:
cntry = []
cntry_strip = []
for i in df["country"].str.split(","):
    cntry += i
    
for cnty in cntry:
#     print(cnty.strip())
    cntry_strip.append(cnty.strip())
    
country = pd.Series(cntry_strip, name = "country")
cnt_country = pd.Series(cntry_strip).value_counts()

In [ ]:
world = pd.read_csv("../data/worldcities.csv")
world = world[["city", "country", "lat", "lng"]]
world.head()

In [ ]:
world.info()

In [ ]:
uni_world = world.drop_duplicates("country")

In [ ]:
country_lat_lng = pd.merge(country, uni_world, on = "country")
country_lat_lng.value_counts()

In [ ]:
top_10 = pd.DataFrame(country_lat_lng["country"].value_counts())[:10].style.background_gradient('Blues')
top_10

In [ ]:
from folium.plugins import MarkerCluster

In [ ]:

# 위도(latitude) 경도(longitude)
latitude = country_lat_lng['lat']
longitude = country_lat_lng['lng']

Y = 37.5722440
X = 126.9759352
main_location = (Y, X) 

m = folium.Map(location=main_location, zoom_start=4, tiles='cartodbpositron')

marker_cluster = MarkerCluster().add_to(m)

for x,y in zip(latitude, longitude):
    folium.Marker([x,y], icon = folium.Icon(color = "green")).add_to(marker_cluster)
m

### 전반적인 영화 및 TV 트렌드 추이

In [ ]:
year_type_df = df.groupby(["type", "release_year"])["Score_normal"].mean().unstack().rename(index = {0:"movie", 1:"TV"})
year_type_cnt_df = df.groupby(["type", "release_year"])["Score_normal"].count().unstack().rename(index = {0:"movie", 1:"TV"})
year_type_avg_df = df.groupby(["type", "release_year"])["Avg"].mean().unstack().rename(index = {0:"movie", 1:"TV"})
year_type_total_df = df.groupby(["type", "release_year"])["Total"].mean().unstack().rename(index = {0:"movie", 1:"TV"})

# 90년대 이후 데이터로만
cols = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]
year_type_df = year_type_df[cols]
year_type_cnt_df = year_type_cnt_df[cols]
year_type_avg_df = year_type_avg_df[cols]
year_type_total_df = year_type_total_df[cols]


plt.figure(figsize=(15,15))
# year_type_df.T.plot(marker = "o",figsize = (10,10))

plt.subplot(221)
sns.lineplot(data = year_type_df.T, marker = "o", linewidth=2)
plt.title("Plot of Score(normal) according to release_year(>1990)", fontsize= 15)
plt.legend(loc='best', ncol = 2, fontsize = 15, frameon=True)
plt.xlabel("releas_year",fontsize = 20)
plt.ylabel("Score(normal)" ,fontsize = 20)
plt.axvspan(2015, 2022, facecolor='gray', alpha = 0.5)


plt.subplot(222)
sns.lineplot(data=year_type_cnt_df.T, marker ="o", linewidth=2)
plt.legend(loc='best', ncol = 2, fontsize = 15, frameon=True)
plt.xlabel("release_year",fontsize = 20)
plt.ylabel("Count" ,fontsize = 20)
plt.title("Plot of ...", fontsize= 15)
plt.axvspan(2015, 2022, facecolor='gray', alpha = 0.5)

plt.subplot(223)
sns.lineplot(data = year_type_avg_df.T, marker = "o", linewidth=2)
plt.title("", fontsize= 15)
plt.legend(loc='best', ncol = 2, fontsize = 15, frameon=True)
plt.xlabel("release_year",fontsize = 20)
plt.ylabel("Avg(Star)" ,fontsize = 20)
plt.axvspan(2015, 2022, facecolor='gray', alpha = 0.5)

plt.subplot(224)
sns.lineplot(data = year_type_total_df.T, marker = "o", linewidth=2)
plt.title("", fontsize= 15)
plt.legend(loc='best', ncol = 2, fontsize = 15, frameon=True)
plt.xlabel("release_year",fontsize = 20)
plt.ylabel("Total" ,fontsize = 20)
plt.axvspan(2015, 2022, facecolor='gray', alpha = 0.5)

# 전반적인 부분에 대해서,..!!!
# add_dated,..

plt.show()

- 전체적으로 현대에 가까워 질 수록 영화보다는 TV Series의 Score가 높아지는 것을 볼 수 있습니다.
- 작품 수 또한 영화의 작품 수가 항상 TV Series보다 많은 것을 확인 할 수 있지만, 2020년에는 역전 된 것을 알 수 있습니다. 이는 TV는 시리즈 물이기 때문에 당연하게도 영화보다는 작품 수가 적는게 당연합니다.

In [ ]:
genres = []
years = []
flg = len(genres)
for genre, year in zip(df[df["type"] == 0]["listed_in"], df[df["type"] == 0]["release_year"]):
    genres += genre
    c = len(genres) - flg
    flg = len(genres)
    years += [year] * c
    
gnre = []
for genre in genres:
    gnre.append(genre.strip())

In [ ]:
gnre_yrs_df = pd.DataFrame({"genre" :gnre, "years" : years })
gnre_yrs_df = gnre_yrs_df[gnre_yrs_df["years"] >= 1990]

gnre_yrs_df = gnre_yrs_df.groupby(["genre", "years"]).size().unstack()
# drop = ['Independent Movies', 'International Movies', 'Movies']
# gnre_yrs_df = gnre_yrs_df.drop(drop)

gnre_yrs_df = gnre_yrs_df.fillna(0)

plt.figure(figsize=(20,10))
sns.lineplot(data = gnre_yrs_df.T, palette= "Paired", linewidth = 2)
plt.show()

In [ ]:
# 연도별 장르, 드라마

genres = []
years = []
flg = len(genres)
for genre, year in zip(df[df["type"] == 1]["listed_in"], df[df["type"] == 1]["release_year"]):
    genres += genre
    c = len(genres) - flg
    flg = len(genres)
    years += [year] * c
    
gnre = []
for genre in genres:
    gnre.append(genre.strip())

In [ ]:
gnre_yrs_df = pd.DataFrame({"genre" :gnre, "years" : years })
gnre_yrs_df = gnre_yrs_df[gnre_yrs_df["years"] >= 1990]

gnre_yrs_df = gnre_yrs_df.groupby(["genre", "years"]).size().unstack()
# drop = ['International TV Shows']
# gnre_yrs_df = gnre_yrs_df.drop(drop)

gnre_yrs_df = gnre_yrs_df.fillna(0)

plt.figure(figsize=(20,10))
sns.lineplot(data = gnre_yrs_df.T, palette= "Paired", linewidth = 2)
plt.show()

In [ ]:
# 연도별 시청등급
# 연도별 나라

In [ ]:
# 1. release, data_added 차이가 안나는 것들
# 2. 넷플릭스 original

In [ ]:
def gnre_year(df: pd.DataFrame, year: str):
    genres = df[df["date_added_year"] == year]["listed_in"].tolist()
    add_datedes = df[df["date_added_year"] == year]["date_added_year"].tolist()

    gnres = []
    add_date = []
    flg = len(gnres)
    for gnre, add_dated in zip(genres, add_datedes):
        gnres += gnre.split(", ")

        c = len(gnres) - flg
        flg = len(gnres)
        for i in range(c):
            add_date.append(add_dated)

    df = pd.DataFrame({f"genre_{year}": gnres, "add_date": add_date})
    display(df.groupby(f"genre_{year}").count().sort_values(by="add_date", ascending=False).head(10).style.background_gradient('Reds'))

In [ ]:
# 1. release, data_added 차이가 안나는 것들

df["diff"] = df["date_added_year"].astype(int) - df["release_year"]
df_diff_5 = df[df["diff"] >= 5]
df_diff_5 = df_diff_5.reset_index(drop=True)

In [ ]:
gnre_year(df_diff_5 , "2016") # 2016, diff-5
gnre_year(df_diff_5 , "2017") # 2017, diff-5
gnre_year(df_diff_5 , "2018") # 2017, diff-5

In [ ]:
gnre_year(df_diff_5 , "2019") # 2019, diff-5
gnre_year(df_diff_5 , "2020") # 2020, diff-5
gnre_year(df_diff_5 , "2021") # 2021, diff-5

In [ ]:
# NETFLIX OG

df_OG = df[df["Original"] == 1]

In [ ]:
gnre_year(df_OG , "2016") # 2016, NETFLIX OG
gnre_year(df_OG , "2017") # 2017, NETFLIX OG
gnre_year(df_OG , "2018") # 2017, NETFLIX OG

In [ ]:
gnre_year(df_OG , "2019") # 2016, NETFLIX OG
gnre_year(df_OG , "2020") # 2017, NETFLIX OG
gnre_year(df_OG , "2021") # 2017, NETFLIX OG